<div class="modal">
    <div class="modal__img-container">
        {{#if poster_path}}
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{poster_path}}"
            data-source="https://www.themoviedb.org/t/p/w220_and_h330_face{{poster_path}}" alt="{{title}}" />
        {{else}}
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Poster_not_available.jpg" alt="{{title}}" />
        {{/if}}
    </div>

    <div class="modal-info">
        <h2 class="modal-info__movie-title">{{title}}</h2>
        <ul class="modal-info__list">
            <li class="modal-info__item">
                <p class="modal-info__item-title">Vote / Votes</p>
                <p class="modal-info__item-text">
                    <span>{{vote_average}}</span> / <span>{{vote_count}}</span>
                </p>
            </li>
            <li class="modal-info__item">
                <p class="modal-info__item-title">Popularity</p>
                <p class="modal-info__item-text">{{popularity}}</p>
            </li>
            <li class="modal-info__item">
                <p class="modal-info__item-title">Original title</p>
                <p class="modal-info__item-text">{{original_title}}</p>
            </li>
            <li class="modal-info__item">
                <p class="modal-info__item-title">Genre</p>
                <p class="modal-info__item-text">
                    {{#if genres}}
                    <span>{{this.name}}</span>
                    {{else}}
                    <span>no genre info</span>
                    {{/if}}
                </p>
            </li>
        </ul>
        <h3>About</h3>
        <p>
            {{overview}}
        </p>
        <div>
            <button type='button'>add to watched</button>
            <button type='button'>add to queue</button>
        </div>
    </div>

    <button type="button" class="closeModalBtn"><svg class="modal__icon-close">
            <use href="./images/symbol-defs.svg#close-modal"></use>
        </svg></button>
</div>